.container {
    width: 97%;
    height: 490px;
    margin: auto;
}
.one {
  width: 40%;
  height: 490px;
  float: left;
}
.two {
    height: 490px;
    background-color: #008CBA;
    color:white;
}
h1{
  padding-top: 180px;
  text-align: center;
  font-size: 50px;
}
